.table {
  width: -webkit-fill-available;
}

.bookingHeader {
  background-color: white;
  font-size: x-small;
}

.bookingHeader th {
  padding: 4px;
  border: 3px solid white;
  color: black;
  border-radius: 3px !important;
}

.bookingBody {
  font-size: x-small;
  text-align: center;
}

.bookingBody tr:nth-child(odd) {
  background-color: #ecfff9;
}

.bookingBody tr:nth-child(odd) td {
  border-color: #ecfff9;
}

.bookingBody tr:nth-child(even) {
  background-color: #ffeff1;
}

.bookingBody tr:nth-child(even) td {
  border-color: #ffeff1;
}

.bookingBody td {
  padding: 4px;
  border: 1px solid;
  border-radius: 3px;
}

.skeletonRow {
  height: 7px;
  margin: 0px auto;
  border-radius: 10px;
  border: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
