.editResourceModal {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 1000;
  height: 270px;
  width: 80%;
  background: rgb(78 0 0 / 31%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  margin: auto;
  right: 0;
  border: 2px solid;
  color: white;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 15px;
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: large;
}
